/*body {
    background-image: url('https://th.bing.com/th/id/R0dccd833d9090e726e770246843b9725?rik=Eu5azq7IvxKv1g&riu=http%3a%2f%2fwww.photos-public-domain.com%2fwp-content%2fuploads%2f2011%2f04%2fwhite-canvas-fabric-texture-600x400.jpg&ehk=3gScFzbLyn8Zsc5%2bmKHQ%2fnTsOg2ITqfjUE5ui0pJYcM%3d&risl=&pid=ImgRaw');
    background-size: cover;
    background-repeat: no-repeat;
}

*/

* {
    box-sizing: border-box;
    transition: all ease-in-out 0.2s ;
}

#icon {
    display: inline;
    float: left;
    width: 30%;
    color: rgb(199, 11, 5);
    font-size: larger;
    font-family: cursive;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    float: right;
}

.navLinks {
    text-decoration: none;
    color: rgb(170, 165, 165);
    margin-left: 30px;
}
img{
   
    height: 500px;
    width: 100%;
    
}

h1 {
    color: coral;
    background-color: rgb(250, 182, 170, 0.5);
    margin: 40px auto;
    padding: 20px 20px;
}

ul {
    color: rgb(179, 169, 171);
    font-size: larger;
    margin-right: 20px;
}

ul li {
    list-style: none;
    display: inline;
}



header {
    margin: 10px auto;
}

.aboutMe {
    font-size: larger;
    font-weight: bold;
    color: #a01818;
    background-color: rgba(228, 228, 206, 0.5);
    text-align: center;
}

footer {
    text-align: center;
    margin: 20px auto;
    background-color: #edf2f3;
}

#myName {
    margin-right: 20px;
}

#copy {
    margin-left: 120px;
}

.clear {
    clear: both;
}
.divPlaces{
    height: 300px;
}

.divPlaces li{
float: left;
width: 40%;
font-size: larger;
padding: 50px 10px;
max-height: 300px;
font-weight: bold;


}
.divPlaces li p{

color: #f13c24;

font-weight:700;
}
.divPlaces img{
    float: right;
    width: 50%;
    height: 100%;
    margin-bottom: 20px;
    box-shadow: -2px -2px 1px 1px;
}

.container button {
    display: inline-block;
    margin :20px 30px;
    padding: 10px 20px;
    background-color: #be1515 ;
    color: rgb(255, 255, 255);
}

.container button:hover{
    background-color:rgb(238, 77, 77);
    color: rgb(27, 26, 26);
    cursor: pointer;
}

input{
    background-color: #29070a2c;
    color:#f81d1d;
    border: none;
    padding: 5px;
    }
    textarea{
        background-color: #29070a2c;
        color:#f81d1d;
        border: none;
    }
    label{
        color:#f81d1d9d;
    }
    footer button{
         margin :20px 30px;
    padding: 10px 20px;
    background-color: #be1515 ;
    color: rgb(255, 255, 255);
    }

    footer button:hover{
        background-color:rgb(238, 77, 77);
        color: rgb(27, 26, 26);
        cursor: pointer;
    }

    #headerContent {
        background-image: url('https://wallpapertag.com/wallpaper/full/b/2/2/508413-beautiful-red-and-white-backgrounds-1920x1200.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        text-align: center;
        padding: 150px;
    }

    #headerContent span{
        font-weight: normal;
        font-size:30px;
        color: silver;
        margin-bottom:0px ;
    }
    #headerContent h4{
        font-weight: normal;
        font-size:30px;
        margin-bottom:0px ;
    }
    #headerContent p{

font-family:serif;
font-size: 15px;
margin-top: 6px;
    }
    #headerContent button{
margin-top: 15px;
padding: 10px 20px;
background-color: #be1515 ;
color: rgb(255, 255, 255);
    }

    #headerContent button:hover{
        background-color:rgb(238, 77, 77);
        color: rgb(27, 26, 26);
        cursor: pointer;}